@model OnlineShop.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url(https://r4.wallpaperflare.com/wallpaper/986/511/579/hogwarts-legacy-hogwarts-harry-potter-video-game-art-screen-shot-hd-wallpaper-cfe1955f0761af86ae16b8591ffc66e6.jpg);
        background-repeat: no-repeat;
        background-size: cover; /* This will cover the entire element's background */
        background-position: center; /* This centers the background image */
    }
</style>

<div class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="display-4">Welcome</h1>
    </div>

    <div class="row row-cols-3 row-cols-md-3 g-4">
        @foreach (var prod in Model.Products)
        {
            <div class="col">
                <partial name="_IndividualProductCard" model="prod" />
            </div>
        }
    </div>
</div>
