@model OnlineShop.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
    //https://www.yo-yoo.co.il/wallp/images/uploads/a39a01.jpg
}
    <style>
    body {
        background-image: url(images/home-bg.jpg);
        }
    </style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var prod in Model.Products)
    {
        <partial name="_IndividualProductCard" model="prod"/>
        
    }
    
    </div>
