@{
    ViewData["Title"] = "Home Page";
}
    <style>
    body {
            background-image: url('https://www.yo-yoo.co.il/wallp/images/uploads/a39a01.jpg');
        }
    </style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    </div>
