@using Microsoft.AspNetCore.Identity
@using OnlineShop.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<style>

    .gold{
        color: #FEF5DF;
    }

    header .navbar-brand {
        font-size: 3rem;
        color: #FEF5DF;
        font-weight: bolder;
    }

    header .navbar-brand span {
        color: var(--pink);
    }

    header .navbar a {
        font-size: 2rem;
        padding: 0 1.5rem;
        color: #FEF5DF;
    }

    header .navbar a:hover {
        color: var(--pink);
    }

    .icons .badge {
        top: -5px;
        right: -5px;
        transform: translate(50%, -50%);
    }
</style>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

    User applicationUser = (User)await UserManager.GetUserAsync(User);
    var firstName = applicationUser.FirstName;
    <li class="nav-item">
            <a id="manage" class="nav-link gold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="font-size: 2.0em;">Hello @firstName!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link gold border-0">Logout</button>
        </form>
    </li>     
}
else
{
        <li class="nav-item">
            <a class="nav-link gold" id="register" asp-area="Identity" asp-page="/Account/Register" style="font-size: 2.0em; color: #FEF5DF;">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link gold" id="login" asp-area="Identity" asp-page="/Account/Login" style="font-size: 2.0em; color: #FEF5DF;">Login</a>
        </li>
}
</ul>
