@model ErrorViewModel

@{
    ViewData["Title"] = "Access denied";
}
<link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        background-color: black;
        color: white;
    }

    h1 {
        color: red;
    }

    h6 {
        color: red;
        text-decoration: underline;
    }
</style>


    <title>Access Denied</title>

    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h1>
        <h3 class="w3-center w3-animate-right">You dont have permission to view this site.</h3>
        <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
    </div>
