

<br />
<br />

<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Order Placed Successfully!</h2>
        <br /><br />
        <img src="~/images/success.png" width="25%"/>
    </div>
    <h3 class="col-12 text-center" style="color:darkred">
        <br />
        Thank You for Shopping with us.
        Please Visit Again!
    </h3>
</div>