@model OnlineShop.Models.Product

<div class="form-container">
    <form asp-action="AddProduct" method="post">
        <h2>Add Product:</h2>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" type="number" class="form-control">
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label">Image URL</label>
            <input asp-for="Image" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Category</label>
            <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" class="form-control" required>
                <option value="">Select a category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Quantity" class="form-label">Quantity</label>
            <input asp-for="Quantity" type="number" class="form-control" min="1">
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

