@model IEnumerable<OnlineShop.Models.Category>
@{
}
<style>
    .table_component {
        overflow: auto;
        width: 100%;
    }

        .table_component table {
            border: 1px solid #dededf;
            height: 100%;
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            border-spacing: 1px;
            text-align: left;
        }

        .table_component caption {
            caption-side: top;
            text-align: left;
        }

        .table_component th {
            border: 1px solid #dededf;
            background-color: #eceff1;
            color: #000000;
            padding: 5px;
        }

        .table_component td {
            border: 1px solid #dededf;
            background-color: #ffffff;
            color: #000000;
            padding: 5px;
        }
</style>
<div class="table_component" role="region" tabindex="0">
    <table>
        <caption>
            <p><b><h2>Category Table</h2></b></p>
            <p><br></p>
        </caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Items</th>
                
            </tr>

            @foreach (var category in Model)
         {
            <tr>
                    <td>@category.Name</td>
                    <td>@category.Items</td>
                <td>
                        <a class="btn btn-success" href="#">Edit</a>
                        <a class="btn btn-danger" href="#">Delete</a>
                </td>
            </tr>
         }
        </thead>
    </table>
    <div style="margin-top:8px">Made with <a href="https://www.htmltables.io/" target="_blank">HTML Tables</a></div>
</div>